.index {
    background-color: #f3f1ff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .index .overlap-wrapper {
    background-color: #f3f1ff;
    height: 852px;
    overflow: hidden;
    width: 393px;
  }
  
  .index .overlap {
    height: 893px;
    position: relative;
  }
  
  .index .overlap-group {
    height: 889px;
    left: 0;
    position: absolute;
    top: 0;
    width: 393px;
  }
  
  .index .gradient-BG {
    height: 852px ;
    left: 0 ;
    position: absolute ;
    top: 0 ;
    width: 393px ;
  }
  
  .index .rectangle {
    background-color: #ffffff;
    border-radius: 40px 40px 0px 0px;
    height: 768px;
    left: 0;
    position: absolute;
    top: 100px;
    width: 393px;
    box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.1); /* 수평 offset, 수직 offset, 흐림 정도, 색상 */
  }
  
  .index .div {
    background-color: #ecedf1;
    border-radius: 30px;
    height: 29px;
    left: 305px;
    position: absolute;
    top: 134px;
    width: 57px;
  }
  
  .index .text-wrapper {
    color: #000000;
    font-family: "IBM Plex Sans KR", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 23px;
    left: 312px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 139px;
    width: 43px;
  }
  
  .index .book {
    height: 85px;
    left: 30px;
    object-fit: cover;
    position: absolute;
    top: 132px;
    width: 66px;
  }
  
  .index .text-wrapper-2 {
    color: #000000;
    font-family: "IBM Plex Sans KR", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 119px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 138px;
    width: 100px;
  }
  
  .index .text-wrapper-3 {
    color: #000000;
    font-family: "IBM Plex Sans KR", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 119px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 250px;
    width: 111px;
  }
  
  .index .text-wrapper-4 {
    color: #000000;
    font-family: "IBM Plex Sans KR", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 119px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 190px;
    width: 100px;
  }
  
  .index .text-wrapper-5 {
    color: #000000;
    font-family: "IBM Plex Sans KR", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 119px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 302px;
    width: 100px;
  }
  
  .index .qoo-image {
    height: 85px;
    left: 30px;
    object-fit: cover;
    position: absolute;
    top: 244px;
    width: 66px;
  }
  
  .index .text-wrapper-6 {
    color: #6f6f6f;
    font-family: "IBM Plex Sans KR", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 119px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 164px;
    width: 100px;
  }
  
  .index .text-wrapper-7 {
    color: #6f6f6f;
    font-family: "IBM Plex Sans KR", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 119px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 276px;
    width: 100px;
  }
  
  .index .line {
    height: 3px;
    left: 28px;
    object-fit: cover;
    position: absolute;
    top: 229px;
    width: 337px;
  }
  
  .index .rectangle-2 {
    background-color: #e5e6ebba;
    border-radius: 30px;
    height: 29px;
    left: 305px;
    position: absolute;
    top: 180px;
    width: 57px;
  }
  
  .index .text-wrapper-8 {
    color: #000000;
    font-family: "IBM Plex Sans KR", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 23px;
    left: 312px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 185px;
    width: 43px;
  }
  
  .index .rectangle-3 {
    background-color: #ecedf1;
    border-radius: 30px;
    height: 29px;
    left: 305px;
    position: absolute;
    top: 473px;
    width: 57px;
  }
  
  .index .text-wrapper-9 {
    color: #000000;
    font-family: "IBM Plex Sans KR", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 23px;
    left: 312px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 478px;
    width: 43px;
  }
  
  .index .rectangle-4 {
    background-color: #e5e6ebba;
    border-radius: 30px;
    height: 29px;
    left: 305px;
    position: absolute;
    top: 519px;
    width: 57px;
  }
  
  .index .text-wrapper-10 {
    color: #000000;
    font-family: "IBM Plex Sans KR", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 23px;
    left: 312px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 524px;
    width: 43px;
  }
  
  .index .rectangle-5 {
    background-color: #ecedf1;
    border-radius: 30px;
    height: 29px;
    left: 305px;
    position: absolute;
    top: 585px;
    width: 57px;
  }
  
  .index .text-wrapper-11 {
    color: #000000;
    font-family: "IBM Plex Sans KR", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 23px;
    left: 312px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 590px;
    width: 43px;
  }
  
  .index .rectangle-6 {
    background-color: #e5e6ebba;
    border-radius: 30px;
    height: 29px;
    left: 305px;
    position: absolute;
    top: 631px;
    width: 57px;
  }
  
  .index .text-wrapper-12 {
    color: #000000;
    font-family: "IBM Plex Sans KR", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 23px;
    left: 312px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 636px;
    width: 43px;
  }
  
  .index .rectangle-7 {
    background-color: #ecedf1;
    border-radius: 30px;
    height: 29px;
    left: 305px;
    position: absolute;
    top: 697px;
    width: 57px;
  }
  
  .index .text-wrapper-13 {
    color: #000000;
    font-family: "IBM Plex Sans KR", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 23px;
    left: 312px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 702px;
    width: 43px;
  }
  
  .index .rectangle-8 {
    background-color: #e5e6ebba;
    border-radius: 30px;
    height: 29px;
    left: 305px;
    position: absolute;
    top: 743px;
    width: 57px;
  }
  
  .index .text-wrapper-14 {
    color: #000000;
    font-family: "IBM Plex Sans KR", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 23px;
    left: 312px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 748px;
    width: 43px;
  }
  
  .index .rectangle-9 {
    background-color: #ecedf1;
    border-radius: 30px;
    height: 29px;
    left: 305px;
    position: absolute;
    top: 809px;
    width: 57px;
  }
  
  .index .text-wrapper-15 {
    color: #000000;
    font-family: "IBM Plex Sans KR", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 23px;
    left: 312px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 814px;
    width: 43px;
  }
  
  .index .rectangle-10 {
    background-color: #ecedf1;
    border-radius: 30px;
    height: 29px;
    left: 305px;
    position: absolute;
    top: 361px;
    width: 57px;
  }
  
  .index .text-wrapper-16 {
    color: #000000;
    font-family: "IBM Plex Sans KR", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 23px;
    left: 312px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 366px;
    width: 43px;
  }
  
  .index .rectangle-11 {
    background-color: #e5e6ebba;
    border-radius: 30px;
    height: 29px;
    left: 305px;
    position: absolute;
    top: 407px;
    width: 57px;
  }
  
  .index .text-wrapper-17 {
    color: #000000;
    font-family: "IBM Plex Sans KR", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 23px;
    left: 312px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 412px;
    width: 43px;
  }
  
  .index .group {
    height: 39px;
    left: 14px;
    position: absolute;
    top: 36px;
    width: 365px;
  }
  
  .index .chevron-left {
    height: 27px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 27px;
  }
  
  .index .text-wrapper-18 {
    color: #5e5e5e;
    font-family: "IBM Plex Sans KR", Helvetica;
    font-size: 15px;
    font-weight: 400;
    height: 23px;
    left: 34px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 3px;
    width: 193px;
  }
  
  .index .img {
    height: 3px;
    left: 26px;
    object-fit: cover;
    position: absolute;
    top: 36px;
    width: 337px;
  }
  
  .index .vector-wrapper {
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 1px 1px 4px #c3c3c340, -1px -1px 4px #c4c4c440;
    height: 28px;
    left: 319px;
    position: absolute;
    top: 0;
    width: 39px;
  }
  
  .index .vector {
    height: 16px;
    left: 12px;
    position: absolute;
    top: 6px;
    width: 16px;
  }
  
  .index .text-wrapper-19 {
    color: #000000;
    font-family: "IBM Plex Sans KR", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 118px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 362px;
    width: 111px;
  }
  
  .index .text-wrapper-20 {
    color: #000000;
    font-family: "IBM Plex Sans KR", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 118px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 414px;
    width: 100px;
  }
  
  .index .ks-book {
    height: 85px;
    left: 31px;
    object-fit: cover;
    position: absolute;
    top: 357px;
    width: 66px;
  }
  
  .index .text-wrapper-21 {
    color: #6f6f6f;
    font-family: "IBM Plex Sans KR", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 118px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 388px;
    width: 100px;
  }
  
  .index .line-2 {
    height: 3px;
    left: 28px;
    object-fit: cover;
    position: absolute;
    top: 342px;
    width: 337px;
  }
  
  .index .text-wrapper-22 {
    color: #000000;
    font-family: "IBM Plex Sans KR", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 118px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 474px;
    width: 111px;
  }
  
  .index .text-wrapper-23 {
    color: #000000;
    font-family: "IBM Plex Sans KR", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 118px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 526px;
    width: 100px;
  }
  
  .index .qoo-image-2 {
    height: 85px;
    left: 29px;
    object-fit: cover;
    position: absolute;
    top: 468px;
    width: 66px;
  }
  
  .index .text-wrapper-24 {
    color: #6f6f6f;
    font-family: "IBM Plex Sans KR", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 118px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 500px;
    width: 100px;
  }
  
  .index .line-3 {
    height: 3px;
    left: 28px;
    object-fit: cover;
    position: absolute;
    top: 454px;
    width: 337px;
  }
  
  .index .text-wrapper-25 {
    color: #000000;
    font-family: "IBM Plex Sans KR", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 118px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 586px;
    width: 111px;
  }
  
  .index .text-wrapper-26 {
    color: #000000;
    font-family: "IBM Plex Sans KR", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 118px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 638px;
    width: 100px;
  }
  
  .index .qoo-image-3 {
    height: 85px;
    left: 29px;
    object-fit: cover;
    position: absolute;
    top: 580px;
    width: 66px;
  }
  
  .index .text-wrapper-27 {
    color: #6f6f6f;
    font-family: "IBM Plex Sans KR", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 118px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 612px;
    width: 100px;
  }
  
  .index .line-4 {
    height: 3px;
    left: 28px;
    object-fit: cover;
    position: absolute;
    top: 566px;
    width: 337px;
  }
  
  .index .text-wrapper-28 {
    color: #000000;
    font-family: "IBM Plex Sans KR", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 120px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 698px;
    width: 111px;
  }
  
  .index .text-wrapper-29 {
    color: #000000;
    font-family: "IBM Plex Sans KR", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 120px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 750px;
    width: 100px;
  }
  
  .index .qoo-image-4 {
    height: 85px;
    left: 31px;
    object-fit: cover;
    position: absolute;
    top: 692px;
    width: 66px;
  }
  
  .index .text-wrapper-30 {
    color: #6f6f6f;
    font-family: "IBM Plex Sans KR", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 120px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 724px;
    width: 100px;
  }
  
  .index .line-5 {
    height: 3px;
    left: 30px;
    object-fit: cover;
    position: absolute;
    top: 678px;
    width: 337px;
  }
  
  .index .text-wrapper-31 {
    color: #000000;
    font-family: "IBM Plex Sans KR", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 118px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 810px;
    width: 111px;
  }
  
  .index .qoo-image-5 {
    height: 85px;
    left: 29px;
    object-fit: cover;
    position: absolute;
    top: 804px;
    width: 66px;
  }
  
  .index .text-wrapper-32 {
    color: #6f6f6f;
    font-family: "IBM Plex Sans KR", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 118px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 836px;
    width: 100px;
  }
  
  .index .line-6 {
    height: 3px;
    left: 28px;
    object-fit: cover;
    position: absolute;
    top: 790px;
    width: 337px;
  }
  
  .index .rectangle-12 {
    background-color: #ecedf1;
    border-radius: 30px;
    height: 29px;
    left: 305px;
    position: absolute;
    top: 248px;
    width: 57px;
  }
  
  .index .text-wrapper-33 {
    color: #000000;
    font-family: "IBM Plex Sans KR", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 23px;
    left: 312px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 253px;
    width: 43px;
  }
  
  .index .rectangle-13 {
    background-color: #e5e6ebba;
    border-radius: 30px;
    height: 29px;
    left: 305px;
    position: absolute;
    top: 294px;
    width: 57px;
  }
  
  .index .text-wrapper-34 {
    color: #000000;
    font-family: "IBM Plex Sans KR", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 23px;
    left: 312px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 299px;
    width: 43px;
  }
  
  .index .text-wrapper-35 {
    color: #000000;
    font-family: "IBM Plex Sans KR", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 118px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 873px;
    width: 100px;
  }
  