@import "./reset.css";
@import "./loader.css";
@import "./section.css";

#App {
    width: 100%;
    min-height: 100%;
}

body {
    background-color: var(--background);
    color: var(--font-color);
    min-width: 320px;
}

@keyframes btnScale {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.25);
    }
}

/* input */
main {
    padding-top: 30px;
}

input:focus {
    outline: none;
}

/* search랑 result 사이에 마진 주는 애들 */
.cur-keywords {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}

.cur-keyword {
    margin-right: 5px;
}
