#map {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.top-bar {
    background-color: #F3F1FF;
    width: 100%;
    height: 5%;
    padding: 2%;
    text-align: center;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: x-large;
}

.search-word {
    font-weight: bold;
}

.search-book {
    font-size: large;
}

.search-tap {
    width: 60%;
    margin: auto;
}

.search-button {
    margin: auto;
    margin-left: 5px;
    content: url('../images/search-icon.png');
}