.index {
    background-color: #f3f1ff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.input-wrapper {
    max-width: flex;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 45px;
    position: relative;
}

.input {
    font-family: 'IBM Plex Sans KR', sans-serif;
    max-width: 430px;
    width: 100%;
    margin: 0 auto;
    font-size: 15px;
    background-color: transparent;
    padding: 5px 8px;
    border: none;
    box-sizing: border-box;
    transition: 0.2s;
    border-bottom: 1px solid rgb(186, 186, 186);
}

.chevron-left {
    content: url('https://cdn.animaapp.com/projects/65c654a881257e46c59d2046/releases/65c654e3cea0d4810c2d3337/img/chevron-left-2.svg');
    width: 30px;
    padding: 30px 10px 10px 20px;
    z-index: 1;
}

.bgrectangle {
    display: flex;
    background-color: #ffffff;
    border-radius: 40px 40px 0px 0px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 100px;
    width: 100%;
    box-shadow: 0px -1px 10px rgba(89, 89, 89, 0.1);
    /* 수평 offset, 수직 offset, 흐림 정도, 색상 */
    z-index: 0;
}

.example-text {
    color: #000000;
    font-family: "IBM Plex Sans KR", Helvetica;
    font-size: 18px;
    font-weight: bold;
    height: 27px;
    left: 160px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 25px;
    z-index: 1;
}

.example-rect {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 1px 1px 13px 1px #d2cbff;
    height: 96px;
    left: 65px;
    position: absolute;
    top: 190px;
    width: 303px;
}

.example-rect2 {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 1px 1px 13px 1px #d2cbff;
    height: 70px;
    left: 65px;
    position: absolute;
    top: 95px;
    width: 303px;
}


.p2 {
    color: #000000;
    font-family: "IBM Plex Sans KR", Helvetica;
    font-size: 13px;
    font-weight: 400;
    left: 105px;
    margin-top: 10px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 110px;
    width: 250px;
}

.p {
    color: #000000;
    font-family: "IBM Plex Sans KR", Helvetica;
    font-size: 13px;
    font-weight: 400;
    left: 95px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 205px;
    width: 250px;
}

.overlap-group-wrapper-default {
    background-color: #f3f1ff;
    height: 932px;
    overflow: hidden;
    width: 430px;
}

.overlap-group {
    height: 932px;
    left: -2px;
    position: relative;
    width: 432px;
}

.gradient-BG {
    height: 932px !important;
    left: 2px !important;
    position: absolute !important;
    top: 0 !important;
    width: 430px !important;
    z-index: 0;
}

.rectangle {
    background-color: var(--white);
    border-radius: 40px 40px 0px 0px;
    height: 932px;
    left: 0;
    position: absolute;
    top: 112px;
    width: 430px;
}

.group {
    height: 27px;
    left: 16px;
    position: absolute;
    top: 37px;
    width: 27px;
}


.union {
    max-width: flex;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    height: 143px;
    margin-left: 49px;
    top: 10px;
    width: 340px;
    content: url('https://cdn.animaapp.com/projects/65c654a881257e46c59d2046/releases/65c66a91aeea4e0fd74766d7/img/union.svg');
}


.div {
    color: #bbbbbb;
    font-family: "IBM Plex Sans KR", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 54px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 932px;
    width: 193px;
    z-index: 1;
}

.head-text {
    color: var(--grey-1);
    font-family: "IBM Plex Sans KR-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    height: 24px;
    left: 61px;
    letter-spacing: 1px;
    line-height: normal;
    position: absolute;
    top: 37px;
}


.scan-wrapper {
    background: linear-gradient(180deg, rgb(191.84, 181.86, 255) 15%, rgb(216.42, 210.32, 255) 72%);
    border-radius: 26px;
    box-shadow: inset 3px 1px 15px #ffffff80, inset 0px -3px 10px #7c43b95e;
    height: 52px;
    width: 52px;
    position: relative;
    top: 720px;
    left: 192px;
    z-index: 1;
}

.scan {
    height: 24px;
    left: 14px;
    position: absolute;
    top: 14px;
    width: 24px;
    content: url('https://cdn.animaapp.com/projects/65c654a881257e46c59d2046/releases/65c674f661a7c21531072443/img/scan.svg');
}

.recommend-input {
    font-family: 'IBM Plex Sans KR', sans-serif;
    max-width: 430px;
    width: 100%;
    margin: 0 auto;
    font-size: 15px;
    background-color: transparent;
    padding: 5px 8px;
    border: none;
    box-sizing: border-box;
    transition: 0.2s;
    width: 300px;
    border-bottom: 1px solid rgb(186, 186, 186);
    position: absolute;
    left: 70px;
    top: 675px;
    z-index: 1;
}